@media(min-width: 320px){
    .serv-box i {
        color: #000;
        font-size: 40px;
        text-align: center;
        display: block;
    }
    
    .serv-box {
        background: #fff;
        padding: 20px;
        text-align: center;
    }
    
    .serv-box h4 {
        text-transform: uppercase;
        color: #000;
        font-family: 'Noticia Text';
        margin: 20px 0;
        color: #000;
        font-size: 18px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    
    .serv-border {
        border-bottom: 2px solid #929292;
        width: 100px;
        margin: 0 auto 20px;
    }
    
    .serv-box p {
        text-align: center;
        font-size: 13px;
        color: #6b6b6b;
        margin: 0;
        line-height: 22px;
        font-family: 'Merriweather';
    }

    
    .services {
        padding: 60px 0;
        background-color: #f7f7f7;
    }

    .title .hi {
        color: #000;
        font-size: 28px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        display: table;
        padding: 0 0 30px 0;
        background: #f7f7f7;
        margin: 0 auto;
        position: relative;
    }
}

@media(min-width: 360px){
    .serv-box i {
        color: #000;
        font-size: 40px;
        text-align: center;
        display: block;
    }
    
    .serv-box {
        background: #fff;
        padding: 20px;
        text-align: center;
    }
    
    .serv-box h4 {
        text-transform: uppercase;
        color: #000;
        font-family: 'Noticia Text';
        margin: 20px 0;
        color: #000;
        font-size: 18px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    
    .title .hi {
        color: #000;
        font-size: 28px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        display: table;
        padding: 0 0 30px 0;
        background: #f7f7f7;
        margin: 0 auto;
    }
    
    .serv-border {
        border-bottom: 2px solid #929292;
        width: 100px;
        margin: 0 auto 20px;
    }
    
    .serv-box p {
        text-align: center;
        font-size: 13px;
        color: #6b6b6b;
        margin: 0;
        line-height: 22px;
        font-family: 'Merriweather';
    }

    .services {
        padding: 60px 0;
        background-color: #f7f7f7;
    }

    .title .hi {
        color: #000;
        font-size: 28px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        display: table;
        padding: 0 0 30px 0;
        background: #f7f7f7;
        margin: 0 auto;
        position: relative;
    }
}

@media(min-width: 375px){
    .serv-box i {
        color: #000;
        font-size: 40px;
        text-align: center;
        display: block;
    }
    
    .serv-box {
        background: #fff;
        padding: 20px;
        text-align: center;
    }
    
    .serv-box h4 {
        text-transform: uppercase;
        color: #000;
        font-family: 'Noticia Text';
        margin: 20px 0;
        color: #000;
        font-size: 18px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    
    .title .hi {
        color: #000;
        font-size: 28px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        display: table;
        padding: 0 0 30px 0;
        background: #f7f7f7;
        margin: 0 auto;
        position: relative;
    }
    
    .serv-border {
        border-bottom: 2px solid #929292;
        width: 100px;
        margin: 0 auto 20px;
    }
    
    .serv-box p {
        text-align: center;
        font-size: 16px;
        color: #6b6b6b;
        margin: 0;
        line-height: 22px;
        font-family: 'Merriweather';
    }

    
    .services {
        padding: 60px 0;
        background-color: #f7f7f7;
    }
}

@media(min-width: 390px){
    .serv-box i {
        color: #000;
        font-size: 40px;
        text-align: center;
        display: block;
    }
    
    .serv-box {
        background: #fff;
        padding: 20px;
        text-align: center;
    }
    
    .serv-box h4 {
        text-transform: uppercase;
        color: #000;
        font-family: 'Noticia Text';
        margin: 20px 0;
        color: #000;
        font-size: 18px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    
    .title .hi {
        color: #000;
        font-size: 28px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        display: table;
        padding: 0 0 30px 0;
        background: #f7f7f7;
        margin: 0 auto;
        position: relative;
    }
    
    .serv-border {
        border-bottom: 2px solid #929292;
        width: 100px;
        margin: 0 auto 20px;
    }
    
    .serv-box p {
        text-align: center;
        font-size: 17px;
        color: #6b6b6b;
        margin: 0;
        line-height: 22px;
        font-family: 'Merriweather';
    }

    
    .services {
        padding: 60px 0;
        background-color: #f7f7f7;
    }
}

@media(min-width: 412px){
    .serv-box i {
        color: #000;
        font-size: 40px;
        text-align: center;
        display: block;
    }
    
    .serv-box {
        background: #fff;
        padding: 20px;
        text-align: center;
    }
    
    .serv-box h4 {
        text-transform: uppercase;
        color: #000;
        font-family: 'Noticia Text';
        margin: 20px 0;
        color: #000;
        font-size: 18px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    
    .title .hi {
        color: #000;
        font-size: 28px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        display: table;
        padding: 0 0 30px 0;
        background: #f7f7f7;
        margin: 0 auto;
        position: relative;
    }
    
    .serv-border {
        border-bottom: 2px solid #929292;
        width: 100px;
        margin: 0 auto 20px;
    }
    
    .middle-content h1 {
        font-family: 'Playfair Display';
        font-size: 38px;
        font-weight: bold;
        font-style: italic;
        color: #ea5748;
        text-align: center;
        margin: 0;
    }

    
    .services {
        padding: 60px 0;
        background-color: #f7f7f7;
    }
}

@media(min-width: 414px){
    .serv-box i {
        color: #000;
        font-size: 40px;
        text-align: center;
        display: block;
    }
    
    .serv-box {
        background: #fff;
        padding: 20px;
        text-align: center;
    }
    
    .serv-box h4 {
        text-transform: uppercase;
        color: #000;
        font-family: 'Noticia Text';
        margin: 20px 0;
        color: #000;
        font-size: 18px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    
    .title .hi {
        color: #000;
        font-size: 28px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        display: table;
        padding: 0 0 30px 0;
        background: #f7f7f7;
        margin: 0 auto;
        position: relative;
    }
    
    .serv-border {
        border-bottom: 2px solid #929292;
        width: 100px;
        margin: 0 auto 20px;
    }
    
    .middle-content h1 {
        font-family: 'Playfair Display';
        font-size: 38px;
        font-weight: bold;
        font-style: italic;
        color: #ea5748;
        text-align: center;
        margin: 0;
    }

    
    .services {
        padding: 60px 0;
        background-color: #f7f7f7;
    }
}

@media(min-width: 428px){
    .serv-box i {
        color: #000;
        font-size: 40px;
        text-align: center;
        display: block;
    }
    
    .serv-box {
        background: #fff;
        padding: 20px;
        text-align: center;
    }
    
    .serv-box h4 {
        text-transform: uppercase;
        color: #000;
        font-family: 'Noticia Text';
        margin: 20px 0;
        color: #000;
        font-size: 18px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    
    .title .hi {
        color: #000;
        font-size: 28px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        display: table;
        padding: 0 0 30px 0;
        background: #f7f7f7;
        margin: 0 auto;
        position: relative;
    }
    
    .serv-border {
        border-bottom: 2px solid #929292;
        width: 100px;
        margin: 0 auto 20px;
    }
    
    .middle-content h1 {
        font-family: 'Playfair Display';
        font-size: 38px;
        font-weight: bold;
        font-style: italic;
        color: #ea5748;
        text-align: center;
        margin: 0;
    }

    
    .services {
        padding: 60px 0;
        background-color: #f7f7f7;
    }
}

@media(min-width: 768px){
    .serv-box i {
        color: #000;
        font-size: 40px;
        text-align: center;
        display: block;
    }
    
    .serv-box {
        background: #fff;
        padding: 20px;
        text-align: center;
    }
    
    .serv-box h4 {
        text-transform: uppercase;
        color: #000;
        font-family: 'Noticia Text';
        margin: 20px 0;
        color: #000;
        font-size: 18px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    
    .title .hi {
        color: #000;
        font-size: 28px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        display: table;
        padding: 0 0 30px 0;
        background: #f7f7f7;
        margin: 0 auto;
        position: relative;
    }
    
    .serv-border {
        border-bottom: 2px solid #929292;
        width: 100px;
        margin: 0 auto 20px;
    }
    
    .middle-content h1 {
        font-family: 'Playfair Display';
        font-size: 36px;
        font-weight: bold;
        font-style: italic;
        color: #ea5748;
        text-align: center;
        margin: 0;
    }

    
    .services {
        padding: 60px 0;
        background-color: #f7f7f7;
    }
}

@media(min-width: 820px){
    .serv-box i {
        color: #000;
        font-size: 40px;
        text-align: center;
        display: block;
    }
    
    .serv-box {
        background: #fff;
        padding: 20px;
        text-align: center;
    }
    
    .serv-box h4 {
        text-transform: uppercase;
        color: #000;
        font-family: 'Noticia Text';
        margin: 20px 0;
        color: #000;
        font-size: 18px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    
    .title .hi {
        color: #000;
        font-size: 28px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        display: table;
        padding: 0 0 30px 0;
        background: #f7f7f7;
        margin: 0 auto;
        position: relative;
    }
    
    .serv-border {
        border-bottom: 2px solid #929292;
        width: 100px;
        margin: 0 auto 20px;
    }
    
    .middle-content h1 {
        font-family: 'Playfair Display';
        font-size: 36px;
        font-weight: bold;
        font-style: italic;
        color: #ea5748;
        text-align: center;
        margin: 0;
    }

    
    .services {
        padding: 60px 0;
        background-color: #f7f7f7;
    }
}

@media(min-width: 834px){
    .serv-box i {
        color: #000;
        font-size: 40px;
        text-align: center;
        display: block;
    }
    
    .serv-box {
        background: #fff;
        padding: 20px;
        text-align: center;
    }
    
    .serv-box h4 {
        text-transform: uppercase;
        color: #000;
        font-family: 'Noticia Text';
        margin: 20px 0;
        color: #000;
        font-size: 18px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    
    .title .hi {
        color: #000;
        font-size: 28px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        display: table;
        padding: 0 0 30px 0;
        background: #f7f7f7;
        margin: 0 auto;
        position: relative;
    }
    
    .serv-border {
        border-bottom: 2px solid #929292;
        width: 100px;
        margin: 0 auto 20px;
    }
    
    .middle-content h1 {
        font-family: 'Playfair Display';
        font-size: 36px;
        font-weight: bold;
        font-style: italic;
        color: #ea5748;
        text-align: center;
        margin: 0;
    }

    
    .services {
        padding: 60px 0;
        background-color: #f7f7f7;
    }
}


@media(min-width: 884px){
    .serv-box i {
        color: #000;
        font-size: 40px;
        text-align: center;
        display: block;
    }
    
    .serv-box {
        background: #fff;
        padding: 20px;
        text-align: center;
    }
    
    .serv-box h4 {
        text-transform: uppercase;
        color: #000;
        font-family: 'Noticia Text';
        margin: 20px 0;
        color: #000;
        font-size: 18px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    
    .title .hi {
        color: #000;
        font-size: 28px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        display: table;
        padding: 0 0 30px 0;
        background: #f7f7f7;
        margin: 0 auto;
        position: relative;
    }
    
    .serv-border {
        border-bottom: 2px solid #929292;
        width: 100px;
        margin: 0 auto 20px;
    }
    
    .middle-content h1 {
        font-family: 'Playfair Display';
        font-size: 36px;
        font-weight: bold;
        font-style: italic;
        color: #ea5748;
        text-align: center;
        margin: 0;
    }

    
    .services {
        padding: 60px 0;
        background-color: #f7f7f7;
    }
}

@media(min-width: 992px){
    .serv-box i {
        color: #000;
        font-size: 40px;
        text-align: center;
        display: block;
    }
    
    .serv-box {
        background: #fff;
        padding: 20px;
        text-align: center;
    }
    
    .serv-box h4 {
        text-transform: uppercase;
        color: #000;
        font-family: 'Noticia Text';
        margin: 20px 0;
        color: #000;
        font-size: 18px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    
    .title .hi {
        color: #000;
        font-size: 28px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        display: table;
        padding: 0 0 30px 0;
        background: #f7f7f7;
        margin: 0 auto;
        position: static;
    }
    
    .serv-border {
        border-bottom: 2px solid #929292;
        width: 100px;
        margin: 0 auto 20px;
    }
    
    .serv-box p {
        text-align: center;
        font-size: 13px;
        color: #6b6b6b;
        margin: 0;
        line-height: 22px;
        font-family: 'Merriweather';
    }
    
    
    .services {
        padding: 60px 0;
    }
    

}

@media(min-width: 1114px){
    .serv-box i {
        color: #000;
        font-size: 40px;
        text-align: center;
        display: block;
    }
    
    .serv-box {
        background: #fff;
        padding: 20px;
        text-align: center;
    }
    
    .serv-box h4 {
        text-transform: uppercase;
        color: #000;
        font-family: 'Noticia Text';
        margin: 20px 0;
        color: #000;
        font-size: 18px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    
    .title .hi {
        color: #000;
        font-size: 28px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        display: table;
        padding: 0 0 30px 0;
        background: #f7f7f7;
        margin: 0 auto;
        position: static;
    }
    
    .serv-border {
        border-bottom: 2px solid #929292;
        width: 100px;
        margin: 0 auto 20px;
    }
    
    .serv-box p {
        text-align: center;
        font-size: 13px;
        color: #6b6b6b;
        margin: 0;
        line-height: 22px;
        font-family: 'Merriweather';
    }
    
    
    .services {
        padding: 60px 0;
    }
    

}


@media(min-width: 1200px){
    .serv-box i {
        color: #000;
        font-size: 40px;
        text-align: center;
        display: block;
    }
    
    .serv-box {
        background: #fff;
        padding: 20px;
        text-align: center;
    }
    
    .serv-box h4 {
        text-transform: uppercase;
        color: #000;
        font-family: 'Noticia Text';
        margin: 20px 0;
        color: #000;
        font-size: 18px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
    }
    
    .title .hi {
        color: #000;
        font-size: 28px;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-transform: uppercase;
        display: table;
        padding: 0 0 30px 0;
        background: #f7f7f7;
        margin: 0 auto;
        position: static;
    }
    
    .serv-border {
        border-bottom: 2px solid #929292;
        width: 100px;
        margin: 0 auto 20px;
    }
    
    .serv-box p {
        text-align: center;
        font-size: 13px;
        color: #6b6b6b;
        margin: 0;
        line-height: 22px;
        font-family: 'Merriweather';
    }
    
    
    .services {
        padding: 60px 0;
    }
    

}