.partners {
    padding: 35px 0;
    background: #fff;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.partners img {
    width: 100%;
}
body img {
    border: none;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}

.call-to-action h1 {
    text-align: center;
    font-size: 32px;
    font-family: 'Noticia Text';
    margin: 0 0 20px;
    text-transform: uppercase;
}

.call-to-action p {
    text-align: center;
    margin: 0 0 20px;
}

p {
    font-size: 13px;
    color: #6b6b6b;
    margin: 0;
    line-height: 22px;
    font-family: 'Merriweather';
}

.call-to-action a {
    margin: 0 auto;
}

.button-red {
    background-color: #ea5748;
}

.button-red:hover {
    background-color: #97443b;
}
.button-red {
    background-color: #ea5748;
}

.medium-button {
    width: 169px;
    padding: 10px 0;
    text-align: center;
    display: block;
    font-size: 13px;
    font-family: 'Merriweather';
    color: #fff;
    text-transform: uppercase;
}