  @media(min-width: 320px) {
    .SwMehsul {
      background: #f7f7f7;
    }
  
    .swiper-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 10px;
      cursor: pointer;
    }
  
    .new {
      width: auto !important;
      position: absolute;
      top: 20px;
      right: 10px;
    }
  
    .brown {
      padding: 25px 0 0 0;
      font-size: 20px;
      margin: 0 0 8px;
      color: #000;
      text-align: center;
    }
  
    .arial {
      font-size: 16px;
      display: block;
      margin: 0 0 0 32px;
      color: #ea5748;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
    }
  
    .ddsdf .solid{
      padding: 45px 0 0 0;
    }
  
    .card {
      border: 0;
    }
  
  
    .feat-items h1 {
      font-family: 'Noticia Text';
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 75px;
      padding-top: 0px;
  }
  
    .feat-items {
      background: #f7f7f7;
    }
  
    .ddsdf {
      display: flex;
      justify-content: space-between;
    }
  
    .div {
      border-bottom: 1px solid #d4d4d4;
      margin: 0 0 20px;
    }
  
    .fa-chevron-left {
      margin: 46px 10px 0 0;
    }
  }
  
  @media(min-width: 360px) {
    .SwMehsul {
      background: #f7f7f7;
    }
  
    .fa-chevron-left {
      padding: 47px 0 0 0;
    }
  
    .swiper-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 10px;
      cursor: pointer;
    }
  
    .new {
      width: auto !important;
      position: absolute;
      top: 20px;
      right: 10px;
    }
  
    .brown {
      padding: 25px 0 0 0;
      font-size: 20px;
      margin: 0 0 8px;
      color: #000;
      text-align: center;
    }
  
    .arial {
      font-size: 16px;
      display: block;
      margin: 0 38px 0 49px;
      color: #ea5748;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
  }
  
  
    .card {
      border: 0;
    }

    .span {
      font-size: 16px;
      display: block;
      color: #7f7f7f;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
      text-decoration: line-through;
      margin: 0 15px 0 47px;
  }
    .feat-items h1 {
      font-family: 'Noticia Text';
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 75px;
      padding-top: 7px;
  }
  
    .feat-items {
      background: #f7f7f7;
    }
  
    .ddsdf {
      display: flex;
      justify-content: space-between;
    }
  
    .div {
      border-bottom: 1px solid #d4d4d4;
      margin: 0 0 20px;
    }
  
    .fa-chevron-left {
      margin: 46px 10px 0 0;
    }

    .div i {
      margin: 2px 0 1px 0 !important;
  }
  }
  
  @media(min-width: 375px) {
    .SwMehsul {
      background: #f7f7f7;
    }
  
    .fa-chevron-left {
      padding: 47px 0 0 0;
    }
  
    .swiper-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 10px;
      cursor: pointer;
    }
  
    .new {
      width: auto !important;
      position: absolute;
      top: 20px;
      right: 10px;
    }
  
    .brown {
      padding: 25px 0 0 0;
      font-size: 20px;
      margin: 0 0 8px;
      color: #000;
      text-align: center;
    }
  
    .arial {
      font-size: 19px;
      display: block;
      margin: 0 34px 0 32px;
      color: #ea5748;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
  }
  
  
    .card {
      border: 0;
    }
  
  
    .feat-items h1 {
      font-family: 'Noticia Text';
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 75px;
      padding-top: 0;
  }
  
    .feat-items {
      background: #f7f7f7;
    }
  
    .ddsdf {
      display: flex;
      justify-content: space-between;
      margin: 40px 0 0 0;
    }
  
    .div {
      border-bottom: 1px solid #d4d4d4;
      margin: 0 0 20px;
    }
  
    .fa-chevron-left {
      margin: 46px 10px 0 0;
    }

    .span {
      font-size: 19px;
      display: block;
      color: #7f7f7f;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
      text-decoration: line-through;
      margin: 0 13px 0 60px;
  }
  }

  @media(min-width: 390px) {
    .SwMehsul {
      background: #f7f7f7;
    }
  
    .div i {
        margin: 2px 0 33px 0 !important;
    }

    .fa-chevron-left {
      padding: 47px 0 0 0;
    }
  
    .swiper-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 10px;
      cursor: pointer;
    }
  
    .new {
      width: auto !important;
      position: absolute;
      top: 20px;
      right: 10px;
    }
  
    .brown {
      padding: 25px 0 0 0;
      font-size: 20px;
      margin: 0 0 8px;
      color: #000;
      text-align: center;
    }
  
    .arial {
        font-size: 19px;
        display: block;
        margin: 0 31px 0 32px;
        color: #ea5748;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-align: center;
    }
  
  
    .card {
      border: 0;
    }
  
  
    .feat-items h1 {
      font-family: 'Noticia Text';
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 75px;
      padding-top: 0;
  }
  
    .feat-items {
      background: #f7f7f7;
    }
  
    .ddsdf {
      display: flex;
      justify-content: space-between;
    }
  
    .div {
      border-bottom: 1px solid #d4d4d4;
      margin: 0 0 20px;
    }
  
    .fa-chevron-left {
      margin: 46px 10px 0 0;
    }
  }
  

  @media(min-width: 412px) {
    .SwMehsul {
      background: #f7f7f7;
    }
  
    .div i {
        margin: 2px 0 33px 0 !important;
    }

    .fa-chevron-left {
      padding: 47px 0 0 0;
    }
  
    .swiper-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 10px;
      cursor: pointer;
    }
  
    .new {
      width: auto !important;
      position: absolute;
      top: 20px;
      right: 10px;
    }
  
    .brown {
      padding: 25px 0 0 0;
      font-size: 20px;
      margin: 0 0 8px;
      color: #000;
      text-align: center;
    }
  
    .arial {
        font-size: 19px;
        display: block;
        margin: 0 31px 0 32px;
        color: #ea5748;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-align: center;
    }
  
  
    .card {
      border: 0;
    }
  
  
    .feat-items h1 {
      font-family: 'Noticia Text';
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 75px;
      padding-top: 0;
  }
  
    .feat-items {
      background: #f7f7f7;
    }
  
    .ddsdf {
      display: flex;
      justify-content: space-between;
    }
  
    .div {
      border-bottom: 1px solid #d4d4d4;
      margin: 0 0 20px;
    }
  
    .fa-chevron-left {
      margin: 46px 10px 0 0;
    }
  }
  

  @media(min-width: 414px) {
    .SwMehsul {
      background: #f7f7f7;
    }
  
    .div i {
        margin: 2px 0 33px 0 !important;
    }

    .fa-chevron-left {
      padding: 47px 0 0 0;
    }
  
    .swiper-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 10px;
      cursor: pointer;
    }
  
    .new {
      width: auto !important;
      position: absolute;
      top: 20px;
      right: 10px;
    }
  
    .brown {
      padding: 25px 0 0 0;
      font-size: 20px;
      margin: 0 0 8px;
      color: #000;
      text-align: center;
    }
  
    .arial {
        font-size: 19px;
        display: block;
        margin: 0 31px 0 32px;
        color: #ea5748;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-align: center;
    }
  
  
    .card {
      border: 0;
    }
  
  
    .feat-items h1 {
      font-family: 'Noticia Text';
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 75px;
      padding-top: 0;
  }
  
    .feat-items {
      background: #f7f7f7;
    }
  
    .ddsdf {
      display: flex;
      justify-content: space-between;
    }
  
    .div {
      border-bottom: 1px solid #d4d4d4;
      margin: 0 0 20px;
    }
  
    .fa-chevron-left {
      margin: 46px 10px 0 0;
    }
  }
  
  
  @media(min-width: 428px) {
    .SwMehsul {
      background: #f7f7f7;
    }
  
    .div i {
        margin: 2px 0 33px 0 !important;
    }

    .fa-chevron-left {
      padding: 47px 0 0 0;
    }
  
    .swiper-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 10px;
      cursor: pointer;
    }
  
    .new {
      width: auto !important;
      position: absolute;
      top: 20px;
      right: 10px;
    }
  
    .brown {
      padding: 25px 0 0 0;
      font-size: 20px;
      margin: 0 0 8px;
      color: #000;
      text-align: center;
    }
  
    .arial {
        font-size: 19px;
        display: block;
        margin: 0 31px 0 32px;
        color: #ea5748;
        font-family: 'Noticia Text';
        font-weight: bold;
        text-align: center;
    }
  
  
    .card {
      border: 0;
    }
  
  
    .feat-items h1 {
      font-family: 'Noticia Text';
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 75px;
      padding-top: 0;
  }
  
    .feat-items {
      background: #f7f7f7;
    }
  
    .ddsdf {
      display: flex;
      justify-content: space-between;
    }
  
    .div {
      border-bottom: 1px solid #d4d4d4;
      margin: 0 0 20px;
    }
  
    .fa-chevron-left {
      margin: 46px 10px 0 0;
    }
  }
    
  @media(min-width: 768px) {
    .SwMehsul {
      background: #f7f7f7;
    }
  
    .div i {
        margin: 2px 0 33px 0 !important;
    }

    .fa-chevron-left {
      padding: 47px 0 0 0;
    }
  
    .swiper-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 10px;
      cursor: pointer;
    }
  
    .new {
      width: auto !important;
      position: absolute;
      top: 10px;
      right: -30px;
  }
  
    .brown {
      padding: 25px 0 0 0;
      font-size: 20px;
      margin: 0 0 8px;
      color: #000;
      text-align: center;
    }
  
    .arial {
      font-size: 20px;
      display: block;
      margin: 0 -11px 0 0;
      color: #ea5748;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
  }
  
  
    .card {
      border: 0;
    }
  
  
    .feat-items h1 {
      font-family: 'Noticia Text';
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 75px;
      padding-top: 0;
  }
  
    .feat-items {
      background: #f7f7f7;
    }
  
    .ddsdf {
      display: flex;
      justify-content: space-between;
    }
  
    .div {
      border-bottom: 1px solid #d4d4d4;
      margin: 0 0 20px;
    }
  
    .fa-chevron-left {
      margin: 46px 10px 0 0;
    }
    .span {
      font-size: 19px;
      display: block;
      color: #7f7f7f;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
      text-decoration: line-through;
      margin: 0 13px 0 0;
  }
  }
      
  @media(min-width: 820px) {
    .SwMehsul {
      background: #f7f7f7;
    }
  
    .div i {
        margin: 2px 0 33px 0 !important;
    }

    .fa-chevron-left {
      padding: 47px 0 0 0;
    }
  
    .swiper-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 10px;
      cursor: pointer;
    }
  
    .new {
      width: auto !important;
      position: absolute;
      top: 10px;
      right: -30px;
  }
  
    .brown {
      padding: 25px 0 0 0;
      font-size: 20px;
      margin: 0 0 8px;
      color: #000;
      text-align: center;
    }
  
    .arial {
      font-size: 20px;
      display: block;
      margin: 0 -11px 0 0;
      color: #ea5748;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
  }
  
  
    .card {
      border: 0;
    }
  
  
    .feat-items h1 {
      font-family: 'Noticia Text';
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 75px;
      padding-top: 0;
  }
  
    .feat-items {
      background: #f7f7f7;
    }
  
    .ddsdf {
      display: flex;
      justify-content: space-between;
    }
  
    .div {
      border-bottom: 1px solid #d4d4d4;
      margin: 0 0 20px;
    }
  
    .fa-chevron-left {
      margin: 46px 10px 0 0;
    }
    .span {
      font-size: 19px;
      display: block;
      color: #7f7f7f;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
      text-decoration: line-through;
      margin: 0 13px 0 0;
  }
  }
        
  @media(min-width: 834px) {
    .SwMehsul {
      background: #f7f7f7;
    }
  
    .div i {
        margin: 2px 0 33px 0 !important;
    }

    .fa-chevron-left {
      padding: 47px 0 0 0;
    }
  
    .swiper-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 10px;
      cursor: pointer;
    }
  
    .new {
      width: auto !important;
      position: absolute;
      top: 10px;
      right: -30px;
  }
  
    .brown {
      padding: 25px 0 0 0;
      font-size: 20px;
      margin: 0 0 8px;
      color: #000;
      text-align: center;
    }
  
    .arial {
      font-size: 20px;
      display: block;
      margin: 0 -11px 0 0;
      color: #ea5748;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
  }
  
  
    .card {
      border: 0;
    }
  
  
    .feat-items h1 {
      font-family: 'Noticia Text';
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 75px;
      padding-top: 0;
  }
  
    .feat-items {
      background: #f7f7f7;
    }
  
    .ddsdf {
      display: flex;
      justify-content: space-between;
    }
  
    .div {
      border-bottom: 1px solid #d4d4d4;
      margin: 0 0 20px;
    }
  
    .fa-chevron-left {
      margin: 46px 10px 0 0;
    }
    .span {
      font-size: 19px;
      display: block;
      color: #7f7f7f;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
      text-decoration: line-through;
      margin: 0 13px 0 0;
  }
  }
  
          
  @media(min-width: 884px) {
    .SwMehsul {
      background: #f7f7f7;
    }
  
    .div i {
        margin: 2px 0 33px 0 !important;
    }

    .fa-chevron-left {
      padding: 47px 0 0 0;
    }
  
    .swiper-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 10px;
      cursor: pointer;
    }
  
    .new {
      width: auto !important;
      position: absolute;
      top: 10px;
      right: -30px;
  }
  
    .brown {
      padding: 25px 0 0 0;
      font-size: 20px;
      margin: 0 0 8px;
      color: #000;
      text-align: center;
    }
  
    .arial {
      font-size: 20px;
      display: block;
      margin: 0 -11px 0 0;
      color: #ea5748;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
  }
  
  
    .card {
      border: 0;
    }
  
  
    .feat-items h1 {
      font-family: 'Noticia Text';
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 75px;
      padding-top: 0;
  }
  
    .feat-items {
      background: #f7f7f7;
    }
  
    .ddsdf {
      display: flex;
      justify-content: space-between;
    }
  
    .div {
      border-bottom: 1px solid #d4d4d4;
      margin: 0 0 20px;
    }
  
    .fa-chevron-left {
      margin: 46px 10px 0 0;
    }
    .span {
      font-size: 19px;
      display: block;
      color: #7f7f7f;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
      text-decoration: line-through;
      margin: 0 13px 0 0;
  }
  }
    
  @media(min-width: 992px) {
    .SwMehsul {
      background: #f7f7f7;
    }
  
    .swiper-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 10px;
      cursor: pointer;
    }
  
    .ddsdf .fa-chevron{
      padding: 0 0 0 0;
    }
  
    .new {
      width: auto !important;
      position: absolute;
      top: 20px;
      right: 10px;
    }
  
    .brown {
      padding: 25px 0 0 0;
      font-size: 20px;
      margin: 0 0 8px;
      color: #000;
      text-align: center;
    }
  
    .arial {
      font-size: 19px;
      display: block;
      margin: 0 40px 0 32px;
      color: #ea5748;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
  }
  
  .span {
    font-size: 19px;
    display: block;
    color: #7f7f7f;
    font-family: 'Noticia Text';
    font-weight: bold;
    text-align: center;
    text-decoration: line-through;
    margin: 0 13px 0 3px;
}
  
    .card {
      border: 0;
    }
  
  
    .feat-items h1 {
      font-family: 'Noticia Text';
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 75px;
      padding-top: 46px;
    }
  
    .feat-items {
      background: #f7f7f7;
    }
  
    .ddsdf {
      display: flex;
      justify-content: space-between;
    }
  
    .div {
      border-bottom: 1px solid #d4d4d4;
      margin: 0 0 20px;
    }
  
    .fa-chevron-left {
      margin: 46px 10px 0 0;
    }
  }
      
  @media(min-width: 1114px) {
    .SwMehsul {
      background: #f7f7f7;
    }
  
    .swiper-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 10px;
      cursor: pointer;
    }
  
    .ddsdf .fa-chevron{
      padding: 0 0 0 0;
    }
  
    .new {
      width: auto !important;
      position: absolute;
      top: 20px;
      right: 10px;
    }
  
    .brown {
      padding: 25px 0 0 0;
      font-size: 20px;
      margin: 0 0 8px;
      color: #000;
      text-align: center;
    }
  
    .arial {
      font-size: 19px;
      display: block;
      margin: 0 40px 0 32px;
      color: #ea5748;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
  }
  
  .span {
    font-size: 19px;
    display: block;
    color: #7f7f7f;
    font-family: 'Noticia Text';
    font-weight: bold;
    text-align: center;
    text-decoration: line-through;
    margin: 0 13px 0 3px;
}
  
    .card {
      border: 0;
    }
  
  
    .feat-items h1 {
      font-family: 'Noticia Text';
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 75px;
      padding-top: 46px;
    }
  
    .feat-items {
      background: #f7f7f7;
    }
  
    .ddsdf {
      display: flex;
      justify-content: space-between;
    }
  
    .div {
      border-bottom: 1px solid #d4d4d4;
      margin: 0 0 20px;
    }
  
    .fa-chevron-left {
      margin: 46px 10px 0 0;
    }
  }

  @media(min-width: 1200px) {
    .SwMehsul {
      background: #f7f7f7;
    }
  
    .swiper-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #fff;
      color: #000;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 10px;
      cursor: pointer;
    }
  
    .ddsdf .fa-chevron{
      padding: 0 0 0 0;
    }
  
    .new {
      width: auto !important;
      position: absolute;
      top: 20px;
      right: 10px;
    }
  
    .brown {
      padding: 25px 0 0 0;
      font-size: 20px;
      margin: 0 0 8px;
      color: #000;
      text-align: center;
    }
  
    .arial {
      font-size: 19px;
      display: block;
      margin: 0 40px 0 32px;
      color: #ea5748;
      font-family: 'Noticia Text';
      font-weight: bold;
      text-align: center;
  }
  
  .span {
    font-size: 19px;
    display: block;
    color: #7f7f7f;
    font-family: 'Noticia Text';
    font-weight: bold;
    text-align: center;
    text-decoration: line-through;
    margin: 0 13px 0 3px;
}
  
    .card {
      border: 0;
    }
  
  
    .feat-items h1 {
      font-family: 'Noticia Text';
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      padding-bottom: 75px;
      padding-top: 46px;
    }
  
    .feat-items {
      background: #f7f7f7;
    }
  
    .ddsdf {
      display: flex;
      justify-content: space-between;
    }
  
    .div {
      border-bottom: 1px solid #d4d4d4;
      margin: 0 0 20px;
    }
  
    .fa-chevron-left {
      margin: 46px 10px 0 0;
    }
  }