.testimonials {
    padding: 80px 0;
    background: url(https://res.cloudinary.com/djmsfwo8n/image/upload/v1717330082/test-bg_j12xds.webp) repeat-x;
}

.testimonials p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    font-style: italic;
}

.testimonials .user {
    font-family: 'Merriweather';
    font-size: 14px;
    color: #fff;
    display: block;
    text-align: center;
    margin-top: 10px;
}